* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial;
    margin: 20px;
  }

  header{
    display: flex;
    justify-content: space-between;
  }

  p {
    padding: 2px;
  }

  .view-high-scores{
    color:#8a2be2
  }

  .view-high-scores:hover{
    cursor:pointer;
  }

  #timer {
    display: flex;
    justify-content: space-between;
  }

  .quiz-container{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .start-quiz-foreword{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .start-quiz-button{
    margin-top: 20px;
    padding: 5px;
    font-size: 25px;
    background-color: #8a2be2;
    color: white;
  }

  .quiz{
    display: none;
    width: 50%;  
  }
  
  .question{
    /*display: flex;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
  }

  .choice-box{
    display: table;
  }

  .choice{   
    background: darkmagenta;
    padding:5px;
    padding-right: 5px;
    border-radius: 10px;
    color: white;
    
    margin-top: 20px;
    font-size: 20px; 
  }

  .choice:hover{
    background: rgb(222, 107, 222);
    cursor:pointer;
  }

  .finish{
    display: none;
  }

  .initial{
    display: flex;
  }
  
  h3{
    margin: 0px;
    font-size: 1.5em;
  }
  
  .submit{
    padding-left: 20px;
    color: white;
  }

  .button{
    font-size: 1.5em;
    background-color: darkmagenta;
    color: white;
  }

  .high-scores-name{
    display: none;
    padding-top: 80px;
  }

  .list{
    font-size: 1.5em;
    background-color: rgb(70, 159, 236);
  }

  .high-scores-name-buttons{
    display: flex;
  }

  .go-back{
    padding-right: 20px;
  }

  .previous-question-key{
    display: none;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    margin-top: 30px;
    padding-top: 5px;
    border-top: 2px solid;
    color: gray;
  }